<div class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">            
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0"><strong>Bienvenido</strong></h3>
                        <h4 class="mb-0">Ingresa tus credenciales</h4>
                    </div>
                    <div class="col-4 text-right">
                        <img class="img-fluid" src="assets/images/conade-logo.png" width="80%" height="80%" alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup] = "loginForm" (ngSubmit)="loginSubmit()" novalidate>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>

                        <input type="email" class="form-control" id="inputEmail" formControlName="inputEmail" required>
                        <small class="form-text text-muted text-danger"
                             *ngIf="!loginForm.get('inputEmail').valid && (loginForm.get('inputEmail').dirty || loginForm.get('inputEmail').touched)">Please
                            enter a valid email!</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>

                        <input type="password" class="form-control" id="password" formControlName="password" required>
                        <small class="form-text text-muted text-danger"
                            *ngIf="!loginForm.get('password').valid && (loginForm.get('password').dirty || loginForm.get('password').touched)">Password
                            characters length must be between 4 and 24 !</small>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-danger mr-1"><i class="fa fa-close"></i> Cancel</button>
                        <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid"><i
                                class="fa fa-check"></i> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>