<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h1 class="mb-0"><strong>Personas Físicas</strong></h1><br>
                        </div>
                        <div class="col-4 text-right">
                            <!-- <img class="img-fluid" src="assets/images/femeba-oficial.png" alt="Card image cap"> -->
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <!-- Breadcrumb-->
                    <div class="row pt-2 pb-2">
                        <div class="col-sm-12">
                            <input type='text' style='padding:8px;margin:15px auto;width:30%;'
                                placeholder='Teclea para filtrar..' (keyup)='updateFilter($event)' />
                        </div>
                        <div class="col-sm-3">

                        </div>
                    </div>
                    <!-- End Breadcrumb-->

                    <div>
                        <div class="col-sm-8 mb-4">
                            <!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;'
                                placeholder='Teclea para filtrar los Titulos..' (keyup)='updateFilter($event)' /> -->
                            <ngx-datatable [rows]="rows" class='material' [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

                                <ngx-datatable-column name="" prop="personaFisica">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <img src="assets/images/personasFisicas/{{value}}.png" alt="image lost" width="30%">
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Persona Física" prop="personaFisica">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        {{value | uppercase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Detalles" prop="">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <!-- <button type="button" class="btn btn-outline-primary" (click)="goToVerMas(row)"> -->
                                        <button type="button" class="btn" routerLink="/persona-fisica/more/{{row.personaFisica}}">
                                            Ver mas <i class="fa fa-share-square-o mr-1"></i></button>
                                    </ng-template>
                                </ngx-datatable-column>

                            </ngx-datatable>
                        </div>
                    </div>
                    <!-- Filter Datatable Options Ends -->


                </div>
            </div>
        </div>
    </div>
</div>