.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  a:hover, button:hover {
    background-color: #999999;
    color: aliceblue;
  }

  button{
    color: #fff;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .btn-flotante {
    // font-size: 16px; /* Cambiar el tamaño de la tipografia */
    // text-transform: uppercase; /* Texto en mayusculas */
    // font-weight: bold; /* Fuente en negrita o bold */
      border-color: black;
    // border-radius: 5px; /* Borde del boton */
    letter-spacing: 2px; /* Espacio entre letras */
    // background-color: #E91E63; /* Color de fondo */
    // padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    top: 85px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  
  .btn-flotante:hover {
    background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
    }
  } 