<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar style="background-color:#999999" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon style="color:aliceblue" ngbTooltip="Menú">reorder</mat-icon>
        </button>
        <h1 class="example-app-name" style="color:aliceblue">RENADE</h1>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        routerLink="/login">
            <mat-icon ngbTooltip="Logout">logout</mat-icon>
        </button>
    </mat-toolbar>

    <button type="button" mat-fab (click)="goBack()" ngbTooltip="Regresar" class="btn-flotante" style="background-color: white;">
        <mat-icon style="color: #999">reply</mat-icon>
    </button>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" style="background-color:#C9C9C9">

            <mat-nav-list>
                <a mat-list-item routerLink="/persona-fisica/catalogo" style="color: #fff;">
                    <!-- <button mat-menu-item [matMenuTriggerFor]="direcciones">Persona Física</button> -->
                    <!--<button mat-menu-item routerLink="/persona-fisica/catalogo">-->
                        <strong >Persona Física</strong>
                    <!--</button>-->
                </a>
                <a mat-list-item routerLink="/persona-moral/catalogo" style="color: #fff;">
                    <!-- <button mat-menu-item routerLink="/persona-moral/catalogo"> -->
                        <strong>Persona Moral</strong>
                    <!-- </button> -->
                </a>
            </mat-nav-list>

        </mat-sidenav>

        <!-- Menu -->
        <mat-menu #direcciones="matMenu">
            <button mat-menu-item routerLink="/direcciones/badminton">Badminton</button>
        </mat-menu>

        <mat-menu #tipoPersona="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="tpFisica">Física</button>
            <button mat-menu-item>Moral</button>
        </mat-menu>

        <mat-menu #tpFisica="matMenu">
            <button mat-menu-item routerLink="/federaciones/fisica/catalogo">Catálogo</button>
        </mat-menu>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>