<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="mb-0">Ingeniero Francisco Javier Orozco Flores </h4><br>
                            <h5 class="mb-0"><i> Feferación Mexicana de Bádminton A.C. </i></h5><br>
                            <h5 class="mb-0"><strong>Presidente</strong></h5>
                        </div>
                        <div class="col-4 text-right">
                            <img class="img-fluid" src="assets/images/femeba-oficial.png" alt="Card image cap">
                        </div>
                    </div>
                </div>
                
                <div class="card-body">
                    <form>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Contacto</h6>
                        <div class="pl-lg-4">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="form-control-label" for="input-address">Dirección:</label>
                                <label class="form-control-label" for="input-address">Value</label>
                                <!-- <input id="input-address" class="form-control" placeholder="Home Address"
                                  value="47-A Hardev Sahai L.A." type="text"> -->
                              </div>
                              <div class="form-group">
                                <label class="form-control-label" for="input-address">RFC:</label>
                                <label class="form-control-label" for="input-address">Value</label>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label" for="input-address">Mail:</label>
                                <label class="form-control-label" for="input-address">Value</label>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label" for="input-address">Móvil:</label>
                                <label class="form-control-label" for="input-address">Value</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="form-control-label" for="input-address">Fijo:</label>
                                <label class="form-control-label" for="input-address">Value</label>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label" for="input-address">Nombre:</label>
                                <label class="form-control-label" for="input-address">Value</label>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label" for="input-address">Talla:</label>
                                <label class="form-control-label" for="input-address">Value</label>
                              </div>
                            </div>
                          </div>
                        </div>
                    </form>
                    <!-- Table -->
                    <hr class="my-4" />
                    <h6 class="heading-small text-muted mb-4">Consejo Directivo</h6>

                    <!-- <app-general-table [perfil]="permisos" [dataTable]="datos"></app-general-table> -->
                </div>
            </div>
        </div>
    </div>
</div>