<div class="container-fluid">
    <div class="row pt-2 pb-2">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Directorio de Federaciones Olímpicas </h3>
                            <!-- <img src="./../../../assets/images/femeba-oficial.png"> -->
                        </div>
                        <div >
                            <!-- <img src="./../../../assets/images/femeba-oficial.png"> -->
                        </div>
                    </div>
                    <div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-8 order-xl-1">
    </div> -->
    </div>
</div>