<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
    <div class="col-sm-12">
        <input type='text' style='padding:8px;margin:15px auto;width:30%;'
            placeholder='Teclea para filtrar las Asambleas..' (keyup)='updateFilter($event)' />
    </div>
    <div class="col-sm-3">
        <!-- <div class="btn-group float-sm-right" ngbDropdown>
            <button type="button" class="btn btn-outline-primary" routerLink="create"><i class="fa fa-music mr-1"></i>
                Crear Album</button>
        </div> -->
    </div>
</div>
<!-- End Breadcrumb-->

<div>
    <div class="col-sm-12 mb-4">
        <!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;'
            placeholder='Teclea para filtrar los Titulos..' (keyup)='updateFilter($event)' /> -->
        <ngx-datatable [rows]="rows" class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="10">
            <ngx-datatable-column name="">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <button type="button" class="btn btn-sm" aria-pressed="false"
                        (click)="details(row)"><i class="fa fa-eye"></i></button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Asamblea" prop="asamblea">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                        <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                {{value}}
                    </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Vicepresidente" prop="vicepresidente">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                        <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                {{value}}
                    </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Secretario" prop="secretario">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                        <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                {{value}}
                    </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tesorero" prop="tesorero">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                        <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                {{value}}
                    </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Comisario" prop="comisario">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                        <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                {{value}}
                    </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Vocal" prop="vocal">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                        <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                {{value}}
                    </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Vocal Deportista" prop="vocalDeportista">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                        <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                {{value}}
                    </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Vencimiento" prop="vencimiento">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                        <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                {{value}}
                    </span>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
<!-- Filter Datatable Options Ends -->
