<!-- Sidebar Header starts -->
<div id="sidebar-wrapper" class="sidebar">
  <div class="brand-logo">
    <a [routerLink]="['/']">
      <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
      <h5 class="logo-text">Admin</h5>
    </a>
  </div>
  <div class="sidebar-header">
    <p class="mb-0">MAIN NAVIGATION</p>
  </div>
  <!-- Sidebar Header Ends -->

  <!-- Sidebar Content starts -->
  <div class="sidebar-content" [perfectScrollbar]>
    <ul id="active-class" class="navigation">
      <!-- First level menu -->
      <li *ngFor="let menuItem of menuItems" [ngClass]="[menuItem.class]"
        [routerLinkActive]="menuItem.submenu.length != 0 ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="menuItem.class === '' ? [menuItem.path] : null"
          *ngIf="!menuItem.isExternalLink; else externalLinkBlock">
          <i [ngClass]="[menuItem.icon]"></i>
          <span class="menu-title">{{menuItem.title}}</span>
          <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
        </a>
        <ng-template #externalLinkBlock>
          <a [href]="[menuItem.path]" target="_blank">
            <i [ngClass]="[menuItem.icon]"></i>
            <span class="menu-title">{{menuItem.title}}</span>
            <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
          </a>
        </ng-template>
        <!-- Second level menu -->
        <ul class="menu-content" *ngIf="menuItem.submenu.length > 0">
          <li *ngFor="let menuSubItem of menuItem.submenu"
            [routerLinkActive]="menuSubItem.submenu.length > 0 ? '' : 'active'" [ngClass]="[menuSubItem.class]">
            <a [routerLink]="menuSubItem.submenu.length > 0 ? null : [menuSubItem.path]"
              *ngIf="!menuSubItem.isExternalLink; else externalSubLinkBlock">
              <i [ngClass]="[menuSubItem.icon]"></i>
              <span class="sub-menu-title">{{menuSubItem.title}}</span>
              <span *ngIf="menuSubItem.badge != '' " [ngClass]="[menuSubItem.badgeClass]">{{menuSubItem.badge}}</span>
            </a>
            <ng-template #externalSubLinkBlock>
              <a [href]="[menuSubItem.path]">
                <i [ngClass]="[menuSubItem.icon]"></i>
                <span class="sub-menu-title">{{menuSubItem.title}}</span>
                <span *ngIf="menuSubItem.badge != '' " [ngClass]="[menuSubItem.badgeClass]">{{menuSubItem.badge}}</span>
              </a>
            </ng-template>
            <!-- third level -->
            <!-- <ul class="menu-content" *ngIf="menuSubItem.submenu.length > 0"> -->
              <ul class="menu-content">
              <li *ngFor="let menuThirdSubItem of menuSubItem.submenu"
                [routerLinkActive]="menuThirdSubItem.submenu.length > 0 ? '' : 'active'" [ngClass]="[menuThirdSubItem.class]">
                <a [routerLink]="menuThirdSubItem.submenu.length > 0 ? null : [menuThirdSubItem.path]"
                  *ngIf="!menuThirdSubItem.isExternalLink; else externalThirdSubLinkBlock">
                  <i [ngClass]="[menuThirdSubItem.icon]"></i>
                  <span class="sub-menu-title">{{menuThirdSubItem.title}}</span>
                  <span *ngIf="menuThirdSubItem.badge != '' " [ngClass]="[menuThirdSubItem.badgeClass]">{{menuThirdSubItem.badge}}</span>
                </a>
                <ng-template #externalThirdSubLinkBlock>
                  <a [href]="[menuThirdSubItem.path]">
                    <i [ngClass]="[menuSubItem.icon]"></i>
                    <span class="sub-menu-title">{{menuThirdSubItem.title}}</span>
                    <span *ngIf="menuThirdSubItem.badge != '' " [ngClass]="[menuThirdSubItem.badgeClass]">{{menuThirdSubItem.badge}}</span>
                  </a>
                </ng-template>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- Sidebar Content Ends -->
</div>
