<form>
    <hr class="my-4" />
    <!-- Address -->
    <h3 class="heading-small text-muted mb-4">Contacto</h3>
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="input-address">Dirección:</label>
            <label class="form-control-label" for="input-address">Value</label>
            <!-- <input id="input-address" class="form-control" placeholder="Home Address"
              value="47-A Hardev Sahai L.A." type="text"> -->
          </div>
          <div class="form-group">
            <label class="form-control-label" for="input-address">RFC:</label>
            <label class="form-control-label" for="input-address">Value</label>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="input-address">Mail:</label>
            <label class="form-control-label" for="input-address">Value</label>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="input-address">Móvil:</label>
            <label class="form-control-label" for="input-address">Value</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="input-address">Fijo:</label>
            <label class="form-control-label" for="input-address">Value</label>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="input-address">Nombre:</label>
            <label class="form-control-label" for="input-address">Value</label>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="input-address">Talla:</label>
            <label class="form-control-label" for="input-address">Value</label>
          </div>
        </div>
      </div>
    </div>
</form>