<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0"> <strong>Datos</strong> </h3><br>
                            <!-- <h5 class="mb-0"><i> Feferación Mexicana de Bádminton A.C. </i></h5><br>
                            <h5 class="mb-0"><strong>Presidente</strong></h5> -->
                        </div>
                        <div class="col-4 text-right">
                            <!-- <img class="img-fluid" src="assets/images/femeba-oficial.png" alt="Card image cap"> -->
                            <!-- <div>
                                <button type="button" mat-fab class="btn-flotante" style="background-color: white;">
                                    <mat-icon style="color: #999">reply</mat-icon>
                                </button>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <!-- Breadcrumb-->
                    <div class="row pt-2 pb-2">
                        <div class="col-sm-12">
                            <input type='text' style='padding:8px;margin:15px auto;width:30%;'
                                placeholder='Teclea para filtrar..' (keyup)='updateFilter($event)' />
                        </div>
                        <div class="col-sm-3">

                        </div>
                    </div>
                    <!-- End Breadcrumb-->

                    <div>
                        <div class="col-sm-12 mb-4">
                            <ngx-datatable [rows]="rows" class='material' [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                                <ngx-datatable-column name="">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <!-- <span title="Doble click para editar"> -->
                                        <button type="button" class="btn btn-sm" aria-pressed="false"
                                            (click)="details(row)"><i class="fa fa-eye"></i></button>
                                        <!-- {{value}} -->
                                        <!-- </span> -->
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Nombre" prop="nombre">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                                            <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                            {{value}}
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Direccion" prop="direccion">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                                            <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                            {{value}}
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="CURP" prop="curp">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                                            <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                            {{value}}
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Fecha Registro" prop="fechaRegistro">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                                            <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                            {{value}}
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Tipo Identificacion" prop="tipoIdentificacion">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                                            <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                            {{value}}
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Numero Identificacion" prop="numeroIdentificacion">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <span title="Doble click para editar" (dblclick)="goToEdit(row)">
                                            <!-- <button type="button" class="btn btn-outline-primary" routerLink="edit"><i
                                class="fa fa-pencil-square-o mr-1"></i>Edit</button> -->
                                            {{value}}
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Acciones">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <!-- <span title="Doble click para editar"> -->
                                        <button type="button" class="btn" (click)="goToEdit(row)"><i
                                                class="fa fa-pencil-square-o mr-1"></i>Edit</button>
                                        <!-- {{value}} -->
                                        <!-- </span> -->
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                    <!-- Filter Datatable Options Ends -->
                </div>
            </div>
        </div>
    </div>
</div>