<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="mb-0">Ingeniero Francisco Javier Orozco Flores </h4><br>
                            <h5 class="mb-0"><i> Feferación Mexicana de Bádminton A.C. </i></h5><br>
                            <h5 class="mb-0"><strong>Presidente</strong></h5>
                        </div>
                        <div class="col-4 text-right">
                            <img class="img-fluid" src="assets/images/personasFisicas/{{pf}}.png" alt="Card image cap">

                            <!-- <button type="button" mat-fab (click)="goBack()" class="btn-flotante" style="background-color: white;">
                                <mat-icon style="color: #999">reply</mat-icon>
                            </button> -->
                        </div>
                        <div>
                           
                        </div>
                    </div>
                </div>
                
                <div class="card-body">
                    <!-- Contacto Component -->
                    <app-contacto-persona-fisica></app-contacto-persona-fisica>
                    <!-- General Table Component -->
                    <hr class="my-4" />
                    <h3 class="heading-small text-muted mb-4">Consejo Directivo</h3>

                    <app-general-table [perfil]="permisos" [dataTable]="datos"></app-general-table>
                </div>
            </div>
        </div>
    </div>
</div>
