<!-- <div class="m-0 vh-100 row justify-content-center align-items-center"> -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0"><strong>Crear Persona Moral</strong></h3>
                    <!-- <h4 class="mb-0">Ingresa tus credenciales</h4> -->
                </div>
                <div class="col-4 text-right">
                    <!-- <img class="img-fluid" src="assets/images/conade-logo.png" width="80%" height="80%" alt="Card image cap"> -->
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="col-sm-12">
                <form [formGroup]="personaMoralForm" (ngSubmit)="Submit()">
                    <div class="row">
                        
                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="titularNombres" class="col-sm-4 col-form-label">Nombres Titular:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="titularNombres"
                                        formControlName="titularNombres" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('titularNombres').valid && (personaMoralForm.get('titularNombres').dirty || personaMoralForm.get('titularNombres').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="titularApePat" class="col-sm-6 col-form-label">Apellido Paterno Titular:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="titularApePat"
                                        formControlName="titularApePat" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('titularApePat').valid && (personaMoralForm.get('titularApePat').dirty || personaMoralForm.get('titularApePat').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="titularApeMat" class="col-sm-6 col-form-label">Apellido Materno Titular:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="titularApeMat"
                                        formControlName="titularApeMat" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('titularApeMat').valid && (personaMoralForm.get('titularApeMat').dirty || personaMoralForm.get('titularApeMat').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="fechaNac" class="col-sm-4 col-form-label">Fecha Nacimiento</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="fechaNac"
                                        formControlName="fechaNac" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('fechaNac').valid && (personaMoralForm.get('fechaNac').dirty || personaMoralForm.get('fechaNac').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="telefonos" class="col-sm-4 col-form-label">Telefono</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="telefonos"
                                        formControlName="telefonos" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('telefonos').valid && (personaMoralForm.get('telefonos').dirty || personaMoralForm.get('telefonos').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="email" class="col-sm-4 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="email"
                                        formControlName="email" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('email').valid && (personaMoralForm.get('email').dirty || personaMoralForm.get('email').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="rfc" class="col-sm-4 col-form-label">RFC</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="rfc"
                                        formControlName="rfc" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('rfc').valid && (personaMoralForm.get('rfc').dirty || personaMoralForm.get('rfc').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-xl-4">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Campo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail"
                                        formControlName="inputEmail" required>
                                    <small class="form-text text-muted text-danger"
                                        *ngIf="!personaMoralForm.get('inputEmail').valid && (personaMoralForm.get('inputEmail').dirty || personaMoralForm.get('inputEmail').touched)">
                                        Por favor ingresa un dato válido!</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-danger mr-1"><i class="fa fa-close"></i> Cancel</button>
                        <button type="submit" class="btn btn-success" [disabled]="!personaMoralForm.valid"><i
                                class="fa fa-check"></i> Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->